@page "/orderDetails/{OrderId}"
@using SharedModels.Models
@using WebApp.Services
@inject IOrderService OrderService

<h3>Here is what you have ordered!</h3>

@if (Order != null)
{
    <div>
        <p>Order ID: @Order.Id</p>
        <p>Amount: @Order.Amount</p>
        <p>Date & Time: @Order.Timestamp</p>
        <h4>Ordered Movies:</h4>
        <ul>
            @foreach (var movie in Order.Movies)
            {
                <li>
                    <p>Title: @movie.Title</p>
                    <p>Price: EUR @movie.UnitPrice</p>
                    <img src="@movie.PictureUri" alt="@movie.Title" style="max-width: 100px;" />
                </li>
            }
        </ul>
    </div>
}
else
{
    <p>Loading order details...</p>
}

@code {
    [Parameter]
    public string OrderId { get; set; }

    public OrderDTO Order { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Order = await OrderService.GetItem(OrderId);
    }
}
