@page "/tvsearch"
@using SharedModels.Models
@inherits MovieBase
@using WebApp.Services
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserService UserService
@using System.Security.Claims

<h3>Enter TV Show Name:</h3>
<input @bind="MovieName" />
<button @onclick="LoadTVByName">Search TV Shows</button>

@if (Movies == null)
{
    <h3>Loading TV Shows...</h3>
}
else
{
    <h3 class="mb-5">TV Shows</h3>

    var moviesCount = Movies.Count();

    @if (moviesCount > 0)
    {
        const int moviesPerRow = 3;
        var moviesRowList = new List<MovieDTO>();

        @for (int i = 0; i < moviesCount; i++)
        {
            moviesRowList = Movies.Skip(i * moviesPerRow).Take(moviesPerRow).ToList();

            <div class="row mt-3">

                @foreach (var item in moviesRowList)
                {
                    <div class="col-md-3 mb-2">
                        <a href="#">
                            <div class="card">
                                <img class="img-thumbnail" src="@item.PictureUri" style="max-width: 200px;" />
                                <div class="card-body">
                                    <h5 class="card-title mb-3">
                                        @item.Title
                                    </h5>
                                    <p class="card-text">
                                        <b>EUR @item.Price.ToString()</b>
                                    </p>
                                    <p class="card-text">
                                        <b>Description:</b> @item.Description
                                    </p>
                                    <p class="card-text">
                                        <b>Caption:</b> @item.Caption
                                    </p>
                                    <p class="card-text">
                                        <b>Release Year:</b> @item.ReleaseYear
                                    </p>
                                    @if (item.ReleaseDate.HasValue)
                                    {
                                        <p class="card-text">
                                            <b>Release Date:</b> @item.ReleaseDate.Value.ToShortDateString()
                                        </p>
                                    }
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary" @onclick="()=>OrderMovie(item.Id)">Order</button>
                                        <button type="button" class="btn btn-secondary" @onclick="()=>AddToWatchList(item.Id)">Add to WatchList</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
    }
}

@code {
    [Inject]
    public IBasketService BasketService { get; set; }

    [Inject]
    public IWishService WishService { get; set; }

    private UserDTO User;

    private async Task OrderMovie(string movieId)
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        if (user.Identity.IsAuthenticated)
        {
            var emailClaim = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email);
            if (emailClaim != null)
            {
                var email = emailClaim.Value;
                User = await UserService.GetUserByEmailAsync(email);
            }
        }

        var movie = Movies.FirstOrDefault(m => m.Id == movieId);
        if (movie != null)
        {
            var basketItem = new BasketItemDTO
                {
                    PictureUri = movie.PictureUri,
                    MovieId = movie.Id,
                    Title = movie.Title,
                    UnitPrice = movie.Price,
                    User = User.Email
                };

            await BasketService.AddToBasket(basketItem);
        }
    }

    private async Task AddToWatchList(string movieId)
    {

        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        if (user.Identity.IsAuthenticated)
        {
            var emailClaim = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email);
            if (emailClaim != null)
            {
                var email = emailClaim.Value;
                User = await UserService.GetUserByEmailAsync(email);
            }
        }


        var movie = Movies.FirstOrDefault(m => m.Id == movieId);
        if (movie != null)
        {
            var wishedItem = new WishDTO
                {
                    PictureUri = movie.PictureUri,
                    MovieId = movie.Id,
                    Title = movie.Title,
                    User = User.Email
                };

            await WishService.AddToBasket(wishedItem);
        }
    }
}